/* @media only screen and (max-width: 1050px) and (max-height:710px) {
	.load-img img {
		display: none;
	}


  .main-area .social-btn .wrd{
		position: relative;
		
	}
	.main-area .desc{
		font-size: 15px;
	}

	.glow{
		font-family:bladerunner;
		font-size: 45px;
		padding-bottom: 5px;
	}
	.info-text p{
		font-size: 13px;
	}
	ion-icon {
		font-size: 24px;
	  }
	.naming{ color: white; font-size: 11px; }
	.main-area .social-btn{ position: relative; top:50%; }

} */

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1050px) and (max-height:715px) {
	.load-img img {
		display: none;
	}
	/* .main-area .social-btn{ position: relative; top: 1%; width: 100%; left: 50%; transform: translateX(-50%); } */
	/* .main-area{ position: relative; height: 105vh; z-index: 2; padding: 0 20px; background-size: cover; color: #fff; } */

	.wrd{
		position: relative;
		margin-top: 8%;	
	}
	.main-area .desc{
		font-size: 15px;
	}

	.glow{
		font-family:bladerunner;
		font-size: 45px;
		padding-bottom: 5px;
	}
	.info-text p{
		font-size: 13px;
	}
	ion-icon {
		font-size: 24px;
	  }
	  .naming{ color: white; font-size: 11px; }
	  .main-area .social-btn{ position: relative; top:16%; }
	  .image-logo{
		position: relative;
		padding-top:5%;
	}

}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	.loader{
		display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 6%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
	}
	.load-img img {
		display: none;
	}

	.main-area .desc{
		font-size: 15px;
	}

	.glow{
		font-family:bladerunner;
		font-size: 65px;
		padding-bottom: 5px;
	}
	.info-text{
		margin-top: 1rem;
	}
	.info-text p{
		font-size: 14px;
	}
	ion-icon {
		font-size: 24px;
	  }
	  .naming{ color: white; font-size: 11px; }

	  .main-area .social-btn{ position: relative; top:42%; }
	  .image-logo{
		position: relative;
		padding-top:20%;
	}

}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3.8em; line-height: 1; margin-bottom: 35px; }
	h2{ font-size: 2.2em; line-height: 1.1; }
	h3{ font-size: 1.8em; }
	img{ width: 70%; 
		margin-top: -410px;
		bottom: 50%;
		
		}
		.email-input{
			width:80%;
			margin-left: 15px;
			margin-bottom: 25px;
			margin-top: 20px;
		}
		.load-img img {
			width: 55%;
		}
		.main-area .notify-btn{ 
			padding: 20px 55px;
			border-radius: 50px;
			border: 2px solid red;
			font-size: 15px;
			color: #fff;
			background: rgba(255, 0, 0, 0.692); }

			.info-text p{
				font-size: 12.2px;
				font-weight: lighter;
			}
			/* .main-area .social-btn{ position: absolute; bottom: 10%; width: 100%; left: 50%; transform: translateX(-50%); }

			.main-area{ position: relative; height: 105vh; z-index: 2; padding: 0 20px; background-size: cover; color: #fff; } */

			.full-screen{
				position: relative;
				height: 100vh;
				width: 100vw;
				overflow: hidden;
				
			}

	/*.main-area center-text	video{
			position: absolute;
			width: 100%;
			height: 100vh;
			visibility: hidden;
		}*/

		img{ width: 100px; 
			height: 100px;
			border-radius: 15px;
			position: relative;
			/* margin-top: -905px;
			margin-bottom: -15px; */
			top: 20%;
			border: 1px solid  rgba(3, 202, 36, 0.976);
			animation: glow2 1s ease-in-out infinite alternate;
		
		}

		

		  /* .main-area{ position: relative; height: 105vh; z-index: 2; padding: 0 20px; background-size: cover; color: #fff; bottom: 0%; } */
		  
		  .wrd{
			  position: relative;
			  top: 10%;
		  }

		  .loader {
			display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 7%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
			
		  }

		  .load-img {
			display: none;
			  
		  }
		  .load-img img {
			width: 25%;
			height: 15%;
		}
		
		.load-text{
			width: 50%;
			height: 100%;
			position: absolute;
			font-size: 8px;
			display:flex;
			justify-content: center;
			align-items: center;
			z-index: 99999;
			color: rgba(3, 202, 36, 0.976);
			padding-top: 30px;
		  }

		  .loader{
			display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 6%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
		  }
		 .main-area .desc{
			font-size: 15px;
		}
	
		.glow{
			font-family:bladerunner;
			font-size: 55px;
			padding-bottom: 5px;
		}
		.info-text{
			margin-top: 5rem;
		}
		.info-text p{
			font-size: 14px;
		}
		ion-icon {
			font-size: 24px;
		  }
		  .naming{ color: white; font-size: 11px; }
	
		  .main-area .social-btn{ position: relative; top: 20%; }

		  .image-logo{
			position: relative;
			padding-top:40%;
		}
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 485px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
		

		/* .main-area{ position: relative; height: 100vh; z-index: 2; padding: 0 20px; background-size: cover; color: #fff; bottom: 0%; } */
		  
		  .wrd{
			  position: relative;
			  top: 10%;
		  }

		.load-img {
			display: none;
			  
		  }
		/* .loader{
			display: none;
		} */
		.loader {
			display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 6%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
			
		  }

		.load-text{
			height: 50%;		
			  }
		
			  .main-area .desc{
				font-size: 11px;
			}
		
			.glow{
				font-family:bladerunner;
				font-size: 55px;
				padding-bottom: 5px;
			}
				.info-text{
					padding-top: 1rem;

				}
			.info-text p{
				font-size: 12px;
			}
			ion-icon {
				font-size: 24px;
			  }
			  .naming{ color: white; font-size: 11px; }
			  .main-area .social-btn{ position: relative; top: 35%; }

			  .image-logo{
				position: relative;
				padding-top:40%;
			}
	
}

@media only screen and (max-width: 390px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
		

		/* .main-area{ position: relative; height: 100vh; z-index: 2; padding: 0 20px; background-size: cover; color: #fff; bottom: 0%; } */
		
		  .wrd{
			  position: relative;
			  top: 10%;
		  }

		.load-img {
			display: none;
			  
		  }
		/* .loader{
			display: none;
		} */
		.loader {
			display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 6%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
			
		  }

		.load-text{
			height: 50%;		
			  }
		
			  .main-area .desc{
				font-size: 11px;
			}
		
			.glow{
				font-family:bladerunner;
				font-size: 55px;
				padding-bottom: 5px;
			}
				/* .info-text{
					padding-top: 2rem;

				} */
			.info-text p{
				font-size: 12px;
			}
			ion-icon {
				font-size: 24px;
			  }
			  .naming{ color: white; font-size: 11px; }
			  .main-area .social-btn{ position: relative; top: 20%; }

			  .image-logo{
				position: relative;
				padding-top:40%;
			}
	
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 365px) {
	.load-img {
		display: none;
		  
	  }
	  .loader{
		display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 6%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
	}
	.main-area .desc{
		font-size: 11px;
	}

	.glow{
		font-family:bladerunner;
		font-size: 35px;
	}
	.info-text{
		padding-top: 2.5rem;
	}
	.info-text p{
		font-size: 12px;
	}
	ion-icon {
		font-size: 24px;
	  }
	  .naming{ color: white; font-size: 11px; }
	  .main-area .social-btn{ position: relative; top: 30%; }

	  .image-logo{
		position: relative;
		padding-top:40%;
	}
	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	.loader{
		display: inline-block;
			width: 30px;
			height: 30px;
			bottom: 6%;
			position: relative;
			border: 4px solid black;
			animation: loader 2s infinite ease;
			margin-right: 15px;
	}

	.load-img {
		display: none;
		  
	  }
	.load-text{
		height: 50%;		
		  }

	.main-area .desc{
		font-size: 9.5px;
	}

	.glow{
		font-family:bladerunner;
		font-size: 35px;
	}
	.info-text{
		margin-top: 2.5rem;
	}
	.info-text p{
		font-size: 10px;
	}
	ion-icon {
		font-size: 24px;
	  }
	.naming{ color: white; font-size: 10px; }

	.main-area .social-btn{ position: relative; top: 30%; }

	.image-logo{
		position: relative;
		padding-top:40%;
	}

}


/* @media only screen and (width: 820px) and (height:1180px) {
	.load-img img {
		display: none;
	}


	.wrd{
		position: relative;
		margin-top: 8%;	
	}
	.main-area .desc{
		font-size: 15px;
	}

	.glow{
		font-family:bladerunner;
		font-size: 45px;
		padding-bottom: 5px;
	}
	.info-text{
		margin-top: 10rem;
	}
	.info-text p{
		font-size: 13px;
	}
	ion-icon {
		font-size: 24px;
	  }
	  .naming{ color: white; font-size: 11px; }
	  .main-area .social-btn{ position: relative; top:42%; }
} */